.git
.github/.cache
.pytest_cache/
.ruff_cache/
.venv/
venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.log
log/
results/
tricys_backend/backend.log
tricys_backend/tricys.db
tricys_backend/workspaces/
tricys_visual/node_modules/
tricys_visual/dist/
tricys_visual/.env.local
tricys_goview/node_modules/
tricys_goview/dist/
tricys_goview/.env.local
