# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ruff_cache/
.pytest_cache/

# Virtual Environments
.venv
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# IDE and Editor files
.vscode/
.idea/
.cache/

# Configured output and data directories
data/
log/
results/
temp/

# Log files
*.log

# Privarte Paths
model/

# Ignore the result files from the example runner
test_example/

# Environment variables file
.env

# Ignore cfedr directories
cfedr*/
cfedr/*

# Ignore mkdocs site directory
site/

# Ignore tricys_backend submodule
tricys_backend/*

# Ignore tricys_visual submodule
tricys_visual/*