name: Deploy Docs to GitHub Pages

on:
  push:
    branches:
      - main
      - pages

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs-material[imaging] mkdocs-static-i18n "mkdocstrings[python]>=1.0.0" mkdocs-mermaid2-plugin

      - name: Deploy
        run: mkdocs gh-deploy --force --clean
