name: Deploy Docs to GitHub Pages

on:
  push:
    branches:
      - main
      - pages

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs==1.6.1 \
                      mkdocs-material==9.7.0 \
                      mkdocs-static-i18n==1.3.0 \
                      mkdocstrings==0.30.1 \
                      mkdocstrings-python==1.19.0 \
                      mkdocs-mermaid2-plugin==1.2.3

      - name: Deploy
        run: mkdocs gh-deploy --force --clean
